.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
*.rbc
*.sassc
capybara-*.html
.rspec
/vendor/bundle
/log/*
/tmp/*
/public/system/*
/coverage/
/spec/tmp/*
**.orig
config/*.yml
rerun.txt
pickle-email-*.html
*.swp
/app/assets/images/img-*
/public/assets/*
